.footer {
    background-color: #242e36;
    color: white;
    font-family: 'Fjalla One';
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;

}

#choiceWindow,
#confirmWindow {
    border-right: -1rem;
    border: #7a7a7a 0.1rem solid;
    border-radius: 0.5rem;
}

#formRow {
    margin-bottom: 4rem;
}

li {
    padding-bottom: 1rem;
}
.btnList {
    /* position: relative; */
    position: static;
    /* position: absolute; */
    right: 49rem;
}

.btnRemove {
    position: absolute;
    right: 15.5rem; 
}

.nav-wrapper {
    background-color: #242e36;
    font-family: 'Fjalla One';
}

.fa-hand-pointer-o {
    margin-left: 1rem;
}

.btnDown,
.btnPlus {
    position: absolute;
    right: 22rem;
}

.btnConfirm {
    float: right;
    position: static;
    right: 17rem;
}

#submitSection {
    margin-bottom: 1.5rem;
}

.btnDelete {
    margin-top: 1rem;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../image/header.jpg");
    min-height: 75%;
}

.header {
    text-align: center;
    font-size: 7rem;
    padding: 15rem 0 15rem 0;
    color: #242e36;
    font-family: 'Fjalla One';
}

.feature {
    text-align: center;
    /* margin-bottom: 15rem;
    margin-top: 3rem; */
    margin: 3rem 15rem 8rem 15rem;
}

#choiceTitle,
#submitSection,
.theme {
    font-family: 'Fjalla One';
    font-size: 1.3rem;
}

.userConfirmList {
    margin-bottom: 1rem;
}

.photoGroup {
    text-align: center;
    margin-bottom: 5rem;
}

.images {
    width: 25.5rem;
    opacity: 0.5;
    border-radius: 0.5rem;
}

.images:hover {
    opacity: 1;
}

.imageChose {
    width: 25.5rem;
    opacity: 1;
    border-radius: 0.5rem;
}

.browser-default {
    margin-top: 1rem;
}

#imageCol1 {
 
    text-align: right;
    font-weight: bold;
    color: black;

}

#imageCol2 {
    
    text-align: left;
    font-weight: bold;
    color: black;
    
}

label {
    color:black;
}