<!doctype html>
<html lang="en-us">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

    </title>
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- CSS -->
    <link rel="stylesheet" id="theme" href="css/styles-form.css" type="text/css">
</head>

<body>
    <div>
        <header id="{{headerimg}}">
            <div class="col s12 header" id="title">
                title
            </div>
            <p id="tagline">
                tagline will display at here.
            </p>
        </header>
    </div>
    <div class="col s12 descriptions">
        <p>
            Here is the descriptions for your orgnisation.
        </p>
    </div>

    <div class="container" id="mainBlocks">
        <div class="row" id="formRow">
            <div class="col m4" id="block_1">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{block1image}}" id="block_1_image">
                            <span class="card-title" id="block1head">Product/Service</span>
                        </div>
                        <div class="card-content" id="block1text">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4" id="block_2">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{block2image}}" id="block_2_image">
                            <span class="card-title" id="block2head">Product/Service</span>
                        </div>
                        <div class="card-content" id="block2text">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4" id="block_3">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{block3image}}" id="block_3_image">
                            <span class="card-title" id="block3head">Product/Service</span>
                        </div>
                        <div class="card-content" id="bloc3text">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <p id="phone">phone</p>
        <p id="eMail">email</p>
        <p id="placeLocation">address</p>
    </div>

    <div class="footer">
        <p>Title Copyright &copy; 2020</p>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/index.js"></script>
    <!-- <script src="assets/javascript/index-page-js.js"></script> -->
</body>

</html>